
/* www.zymphonies.com */
@font-face {
  font-family: 'BebasNeueRegular';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/BebasNeue-webfont.eot');
  src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/BebasNeue-webfont.woff') format('woff'), url('fonts/BebasNeue-webfont.ttf') format('truetype'), url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
}
@font-face {
  font-family: 'YanoneKaffeesatzRegular';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/YanoneKaffeesatz-Regular-webfont.eot');
  src: url('fonts/YanoneKaffeesatz-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/YanoneKaffeesatz-Regular-webfont.woff') format('woff'), url('fonts/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'), url('fonts/YanoneKaffeesatz-Regular-webfont.svg#YanoneKaffeesatzRegular') format('svg');
}
/*--------------------------------
  Default Style
--------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  background: #d8d8d8 url(images/quote.png) no-repeat;
  border: 1px solid #bbbbbb;
  border-radius: 7px;
  margin: 5px 0;
  padding: 10px 5px 5px 47px;
  quotes: none;
  text-shadow: 1px 1px #fff;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
pre {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  background: #d8d8d8;
  border: 1px solid #bbbbbb;
  border-radius: 7px;
  margin: 5px 0;
  padding: 7px;
  text-shadow: 1px 1px #fff;
}
code {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  background: #d8d8d8;
  border: 1px solid #bbbbbb;
  border-radius: 7px;
  display: block;
  margin: 5px 0;
  text-shadow: 1px 1px #fff;
}
ins {
  background-color: #fdfc9b;
  text-decoration: none;
}
mark {
  background-color: #fdfc9b;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
hr {
  background: #9f9f9f;
  border: none;
  clear: both;
  float: none;
  height: 1px;
  margin: 7px 0;
  width: 100%;
}
input,
select {
  vertical-align: middle;
}
select {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #acacac;
  border-radius: 4px;
  padding: 3px 4px;
}
.clear {
  clear: both;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  text-indent: -9999px;
  visibility: hidden;
}
.remove-margin {
  margin-right: 0 !important;
}
fieldset {
  border: 1px solid #ccc;
  margin: 0 0 1.4615em;
  padding: 1.5385em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 15px;
  width: 100%;
}
th,
tr,
td {
  vertical-align: middle;
}
.sticky-header th,
.sticky-table th {
  border-bottom: 3px solid #ccc;
  padding-right: 1em;
  text-align: left;
}
body {
  background: url(images/home-bg.png) no-repeat fixed center top;
  font-family: Tahoma, Georgia, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  margin: 0 auto;
  padding: 0;
}
a {
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  color: #0593c7;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: #0579a4;
  text-decoration: none;
}
p {
  margin: 0 0 0.8em;
}
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 125%;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 21px;
}
h3 {
  font-size: 19px;
}
h4 {
  font-size: 17px;
}
h5 {
  font-size: 15px;
}
h6 {
  font-size: 13px;
}
.clear {
  clear: both;
}
/* The Outer cover */
#wrapper {
  margin: 0px auto;
  width: 100%;
}
.inwrap {
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  background: #f0f4f5;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
#content-container {
  background: url("images/breadcrumb_bg.png") repeat-x scroll 0 0 #ebeff0;
  margin: 0px auto;
  overflow: hidden;
  padding: 0px;
  width: 100%;
}
/* TOP */
#header-top {
  background: #00a2ff;
  height: 100%;
  margin: 0px auto;
  position: relative;
}
.logo {
  margin: 0 auto;
  overflow: hidden;
  padding: 25px 0 15px 0px;
  width: 900px;
}
.logo #logoimg {
  float: left;
  margin: 0;
  padding: 0 12px 0 0;
}
.logo .sitename {
  float: left;
}
.logo .sitename h1 {
  font-family: 'BebasNeueRegular';
  font-size: 46px;
  font-weight: normal;
}
.logo .sitename h1 a:link,
.logo .sitename h1 a:visited {
  color: #fff;
}
.logo .sitename h1 a:hover {
  color: #666;
}
.logo .sitename h2 {
  color: #888;
  font-size: 16px;
  font-weight: normal;
}
/* Social bookmarks */
.social-icons {
  float: right;
  padding: 34px 25px 0 0;
}
.social-icons li {
  float: left;
  font-size: 11px;
  list-style: none;
  margin: 3px 5px;
  padding: 0px;
  text-transform: uppercase;
}
/* PRIMARY NAVIGATION    */
#menu-container {
  background: url("images/menu_bg.png") repeat scroll 0 0 transparent;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  clear: both;
  height: 40px;
  text-transform: uppercase;
}
#main-menu {
  margin: 0 auto 0;
  overflow: hidden;
  width: 900px;
}
#main-menu ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#main-menu li {
  float: left;
  font-family: 'BebasNeueRegular';
  font-size: 18px;
  line-height: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#main-menu li a {
  border-right: 1px solid #222;
  color: #fff;
  display: block;
  margin: 0;
  padding: 0px 20px;
  position: relative;
  text-decoration: none;
}
#main-menu li a:hover,
#main-menu li a:active,
#main-menu .active-trail a,
main-menu li a.active {
  color: #fff;
}
#main-menu li a.sf-with-ul {
  padding-right: 10px;
}
#main-menu li a .sf-sub-indicator {
  display: block;
  height: 10px;
  overflow: hidden;
  position: absolute;
  right: 5px;
  text-indent: -9999px;
  top: 19px;
  width: 10px;
}
#main-menu li li a,
#main-menu li li a:link,
#main-menu li li a:visited {
  background: #444;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  color: #ddd;
  font-family: Arial, Tahoma, Verdana;
  font-size: 12px;
  line-height: 30px;
  margin: 0;
  padding: 0px 10px;
  position: relative;
  text-transform: none;
  width: 148px;
}
#main-menu li li a:hover,
#main-menu li li a:active {
  background: #4a4a4a;
  color: #fff;
}
#main-menu li li a .sf-sub-indicator {
  top: 10px;
}
#main-menu li ul {
  height: auto;
  left: -999em;
  margin: 1px 0px 0px 0px;
  padding: 0;
  position: absolute;
  width: 170px;
  z-index: 9999;
}
#main-menu li ul a {
  width: 150px;
}
#main-menu li ul ul {
  margin: -31px 0 0 169px;
}
#main-menu li:hover ul ul,
#main-menu li:hover ul ul ul,
#main-menu li.sfHover ul ul,
#main-menu li.sfHover ul ul ul {
  left: -999em;
}
#main-menu li:hover ul,
#main-menu li li:hover ul,
#main-menu li li li:hover ul,
#main-menu li.sfHover ul,
#main-menu li li.sfHover ul,
#main-menu li li li.sfHover ul {
  left: auto;
}
#main-menu li:hover,
#main-menu li.sfHover {
  position: static;
}
/* HOME PAGE */
#slider {
  margin: 50px auto 25px;
  padding-bottom: 20px;
  position: relative;
  width: 900px;
}
#front-welcome {
  font-family: "YanoneKaffeesatzRegular", arial;
  margin-bottom: -30px;
  padding: 20px 0 0 0;
  text-align: center;
}
#front-welcome .block > h2 {
  color: #282c2f;
  font-family: "YanoneKaffeesatzRegular", arial;
  font-size: 28px;
  font-weight: normal;
  margin: 0px auto;
  text-transform: none;
}
#front-welcome p {
  color: #282c2f;
  font-family: "YanoneKaffeesatzRegular", arial;
  font-size: 18px;
  line-height: 22px;
  padding: 10px 0px;
}
/*------------------------------------------------*/
#page-container {
  margin: 0 auto;
  padding: 10px 0 20px 0;
  width: 900px;
}
#content {
  display: inline;
  margin: 0;
}
/* 3 columns */
body.two-sidebars #content {
  float: left;
  margin: 0 0 0 15px;
  padding: 0;
  width: 450px;
}
/* 2 columns: sidebar-first */
body.sidebar-first #content {
  float: right;
  margin: 0;
  padding: 0;
  width: 675px;
}
/* 2 columns: sidebar-second */
body.sidebar-second #content {
  float: left;
  margin: 0;
  padding: 0;
  width: 675px;
}
body.two-sidebars #sidebar-first {
  -webkit-box-shadow: 2px 1px 2px #ddd;
  -moz-box-shadow: 2px 1px 2px #ddd;
  -o-box-shadow: 2px 1px 2px #ddd;
  box-shadow: 2px 1px 2px #ddd;
  float: left;
  margin: 0;
  margin-right: 10px;
  min-height: 330px;
  padding: 0;
  padding-right: 10px;
  width: 190px;
}
/* 3 columns: sidebar-second */
body.two-sidebars #sidebar-second {
  -webkit-box-shadow: -2px 1px 2px #ddd;
  -moz-box-shadow: -2px 1px 2px #ddd;
  -o-box-shadow: -2px 1px 2px #ddd;
  box-shadow: -2px 1px 2px #ddd;
  float: right;
  margin: 0;
  margin-left: 10px;
  min-height: 330px;
  padding: 0;
  padding-left: 10px;
  width: 190px;
}
/* 2 columns: sidebar-first */
body.sidebar-first #sidebar-first {
  -webkit-box-shadow: 2px 1px 2px #ddd;
  -moz-box-shadow: 2px 1px 2px #ddd;
  -o-box-shadow: 2px 1px 2px #ddd;
  box-shadow: 2px 1px 2px #ddd;
  float: left;
  margin: 0;
  margin-right: 10px;
  min-height: 330px;
  padding: 0;
  padding-right: 10px;
  width: 200px;
}
/* 2 columns: sidebar-second */
body.sidebar-second #sidebar-second {
  -webkit-box-shadow: -2px 1px 2px #ddd;
  -moz-box-shadow: -2px 1px 2px #ddd;
  -o-box-shadow: -2px 1px 2px #ddd;
  box-shadow: -2px 1px 2px #ddd;
  float: right;
  margin: 0;
  margin-left: 10px;
  min-height: 330px;
  padding: 0;
  padding-left: 10px;
  width: 200px;
}
.node {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
#preface-wrapper {
  margin: 0 auto;
}
#preface-wrapper .column {
  float: left;
}
#preface-wrapper.in1 .column {
  width: 100%;
}
#preface-wrapper.in2 .column {
  width: 50%;
}
#preface-wrapper.in3 .column {
  width: 33.3%;
}
#preface-wrapper .block {
  padding-left: 15px;
  padding-right: 15px;
}
#bottom-wrapper {
  margin: 10px auto 0;
  text-align: left;
  width: 930px;
}
#bottom-wrapper .column {
  float: left;
  padding-bottom: 15px;
}
#bottom-wrapper.in1 .column {
  width: 100%;
}
#bottom-wrapper.in2 .column {
  width: 50%;
}
#bottom-wrapper.in3 .column {
  width: 33.3%;
}
#bottom-wrapper.in4 .column {
  width: 25%;
}
#bottom-wrapper .block {
  padding-left: 15px;
  padding-right: 15px;
}
.bottom {
  background: #f4f4f4;
  padding: 10px 0px;
}
.bottom-container {
  margin: auto;
  width: 930px;
}
.bottom-container .column {
  float: left;
}
.bottom-container.in1 .column {
  width: 100%;
}
.bottom-container.in2 .column {
  width: 50%;
}
.bottom-container.in3 .column {
  width: 33.3%;
}
.bottom-container .block {
  padding-left: 15px;
  padding-right: 15px;
}
.bottom-container p {
  color: #555;
  line-height: 20px;
  padding: 5px 0px;
}
#footer {
  background: #d9e0e3;
  border: 1px solid #cfd7db;
  color: #777;
  font-family: Arial;
  overflow: auto;
  padding: 10px 0px;
}
.footer_wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 900px;
}
.credit {
  float: right;
  margin: 10px 0px;
}
.copyright {
  float: left;
  margin: 10px 0px;
  width: 400px;
}
.block > h2 {
  border-bottom: 1px solid #ccc;
  color: #555;
  font-family: 'BebasNeueRegular';
  font-size: 24px;
  font-weight: normal;
  margin: 5px 0px;
  padding: 0px 0px 4px 0px;
  text-transform: uppercase;
}
.sidebar .block {
  display: inline;
  float: left;
  font-size: 12px;
  margin: 0px 0px 30px 0px;
  overflow: hidden;
  width: 200px;
}
.block {
  margin: 0px 0px 30px 0px;
}
.node h2.title,
#page-title {
  color: #555555;
  font-family: 'BebasNeueRegular';
  font-size: 24px;
  font-weight: normal;
  padding: 0 0 10px;
}
.node h2.title a {
  color: #555555;
}
.content {
  color: #333333;
}

/* Slideshow */

#slideshow {
  margin: 30px auto 25px;
  position: relative;
  width: 900px;
}
#slides {
  clear: both;
  margin: auto;
  position: relative;
  width: 900px;
}
.slides_container,
#slider {
  -moz-box-shadow: 0px 0px 26px #999;
  -webkit-box-shadow: 0px 0px 26px #999;
  border: 5px solid white;
  box-shadow: 0px 0px 26px #999;
  height: 375px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 841px;
  z-index: 1;
}
#slider .nivo-caption {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  padding: 20px;
}
.slides_container a,
.slides_container img {
  display: block;
  height: 374px;
  width: 840px;
}
#slides .next {
  background-image: url(images/right_arrow.png);
  height: 334px;
  margin: 0;
  position: absolute;
  right: -20px;
  top: 9px;
  width: 44px;
  z-index: 10;
}
#slides .prev {
  background-image: url(images/left_arrow.png);
  height: 334px;
  left: -21px;
  margin: 0;
  position: absolute;
  top: 9px;
  width: 45px;
  z-index: 10;
}
.slides_nav {
  display: block !important;
}
#slides ul.pagination {
  border: 0;
  bottom: 16px;
  margin: -25px 0 0 15px;
  position: absolute;
  right: 32px;
  z-index: 10;
}
#slides ul.pagination li {
  float: left;
  list-style: none;
  margin: 0 10px 0 0;
}
#slides ul.pagination li a {
  background: url(images/slides_arrows.png) 0 160px;
  display: block;
  float: left;
  height: 0;
  overflow: hidden;
  padding-top: 12px;
  width: 12px;
}
#slides ul.pagination li.current a {
  background: url(images/slides_arrows.png) 188px 160px;
}
.submitted {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #dfdddd;
  border-radius: 4px;
  clear: both;
  color: #383838;
  display: block;
  margin-bottom: 2px;
  padding: 4px 9px;
}
.links {
  color: #000;
  font-size: 14px;
  margin-top: 10px;
}
.links li a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #d3d1d1;
  border-radius: 4px;
  color: #383838;
  font-weight: normal;
  padding: 4px 5px;
}
.links li a:hover {
  color: #b81007;
}
.content ul,
.content ol {
  padding-left: 20px;
}
.content table {
  background: #ececec;
  border: 1px solid #bbbbbb;
}
.content th {
  background: #dbdbdb;
  border-right: 1px solid #c8c7c7;
  padding: 5px 4px;
  text-shadow: 1px 1px #fff;
}
.content td {
  background: #ebebeb;
  border-bottom: 1px solid #c8c7c7;
  border-right: 1px solid #c8c7c7;
  color: #747474;
  padding-left: 4px;
  text-align: left;
}

/*-------------------------------------------*
/* Fix CKEditor style
/*-------------------------------------------*/

#content-container table.cke_editor {
  background: transparent;
  border: 0;
}
#content-container table.cke_editor td {
  background: transparent;
  border: 0;
  padding: 0;
}

/*-------------------------------------------*
/* Poll, Buttons, Form
/*-------------------------------------------*/

.poll .vote-form .choices .title {
  font-size: 14px;
  font-weight: normal;
  line-height: 2;
}
.poll .vote-form .choices {
  margin: 0;
}
input.form-checkbox,
input.form-radio {
  vertical-align: baseline;
}
.form-text {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #acacac;
  border-radius: 3px;
  padding: 4px 5px;
}
/*-------------------------------------------*
/* Menus and item lists
/*-------------------------------------------*/
.item-list ul {
  margin: 0;
  padding: 0 0 0 1.5385em;
}
.item-list ul li {
  margin: 0;
  padding: 0;
}
ul.menu li {
  margin: 0;
  padding: 0;
}
ul.inline {
  clear: both;
}
ul.inline li {
  margin: 0;
  padding: 0;
}

/*-------------------------------------------*
/* Admin Tabs
/*-------------------------------------------*/

.tabs-wrapper {
  border-bottom: 1px solid #b7b7b7;
  margin: 0 0 5px 0;
}
ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}
ul.primary li a {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  background: none;
  border: none;
  border-radius: 4px 4px 0 0;
  display: block;
  float: left;
  line-height: 1.5385em;
  margin: 0;
  margin-right: 5px;
  padding: 0 1em;
}
ul.primary li a:hover,
ul.primary li a.active {
  background: #666;
  border: none;
  color: #fff;
}
ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}
ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}
ul.secondary li {
  border-right: none;
}
ul.secondary li a,
ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5385em;
  padding: 0 1em;
}
ul.secondary li a:hover,
ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}
ul.secondary a.active {
  border-bottom: none;
}

/*-------------------------------------------*
/* Tabs and Tags
/*-------------------------------------------*/

.field-name-field-tags {
  margin: 0 0 10px 0;
}
.field-name-field-tags a {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: url(images/tag.png) no-repeat;
  border-radius: 2px;
  color: #333;
  display: inline-block;
  font-size: 12px;
  height: 22px;
  padding: 0px 8px 0 16px;
  text-shadow: 1px 1px #fff;
}
.field-name-field-tags a:hover {
  color: #205194;
}
.field-name-field-tags .field-item {
  margin: 0 1em 0 0;
}
.field-name-field-tags div {
  display: inline;
}

/*-------------------------------------------*
/* Profile
/*-------------------------------------------*/

.profile {
  margin: 1.5385em 0;
}
.profile dd {
  margin-bottom: 1.5385em;
}
.profile h3 {
  border: none;
}
.profile dt {
  margin-bottom: 0;
}
.password-parent {
  width: 36em;
}

/*-------------------------------------------*
/* comment
/*-------------------------------------------*/

#comments {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  clear: both;
  margin-top: 14px;
  padding: 5px;
}
.comment {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 7px;
  margin-bottom: 1.5em;
  min-height: 150px;
  padding: 5px;
}
h3.comment-title a {
  color: #67696d;
  font-size: 16px;
  margin-bottom: 5px;
}
.comment .new {
  color: red;
  margin-left: 1em;
  text-transform: capitalize;
}
.form-textarea-wrapper textarea {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #acacac;
  border-radius: 3px;
}
.comment .submitted {
  background: #e5e5e5;
  display: inline;
}
.comment .user-picture {
  border: 1px solid #d9d9d9;
  float: left;
  margin-bottom: 7px;
  margin-right: 7px;
  padding: 4px;
}
.comment-new-comments {
  display: none;
}
/*-------------------------------------------*
/* Navigation
/*-------------------------------------------*/
.item-list .pager li {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #cfcfcf;
  border-radius: 3px;
  margin-right: 4px;
  text-shadow: 1px 1px #fff;
}
/*-------------------------------------------*
/* Forum
/*-------------------------------------------*/
.field-name-taxonomy-forums div {
  display: inline;
  margin-top: 4px;
}
#forum .title {
  font-size: 16px;
}
#forum .submitted {
  background: transparent;
  font-family: Lucida Grande, Verdana, Arial, sans-serif;
  font-size: 12px;
  padding: 0;
}
#forum .container {
  background: #a1a1a1;
  color: #fff;
}
#forum .container a {
  color: #000;
  font-weight: bold;
}
#forum div.indent {
  margin-left: 2px;
}
.forum-starter-picture {
  border: 1px solid #d9d9d9;
  float: left;
  margin: 5px 7px 5px 0;
  padding: 4px;
}
#forum th {
  background: #434343;
  color: #fff;
  text-shadow: none;
}
#forum th a {
  color: #fff;
}
#forum td.forum .icon,
#forum .icon div {
  background: url(images/no-new-posts.png) no-repeat;
  height: 35px;
  width: 35px;
}
#forum .name a {
  font-size: 16px;
}
.form-submit {
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #e8e7e7;
  background: -moz-linear-gradient(top,  #e8e7e7 0%, #ecebeb 100%);
  background: -ms-linear-gradient(top,  #e8e7e7 0%,#ecebeb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e7e7), color-stop(100%,#ecebeb));
  background: -webkit-linear-gradient(top,  #e8e7e7 0%,#ecebeb 100%);
  background: linear-gradient(to bottom,  #e8e7e7 0%,#ecebeb 100%);
  border: #b3b3b3 1px solid;
  border-color: #c3c3c3 #b3b3b3 #a7a7a7;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 14px 6px;
  text-align: center;
  text-decoration: none;
  text-shadow: #fff 0 1px 0;
  transition: all 0.15s linear;
}
.form-submit:hover {
  -moz-box-shadow: 0 0 0 1px #66c7ff inset, 0 2px 2px -1px #7981ac;
  -webkit-box-shadow: 0 0 0 1px #66c7ff inset, 0 2px 2px -1px #7981ac;
  background: #00a2ff;
  background: -moz-linear-gradient(top, #00a2ff 0%, #33c1ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a2ff), color-stop(100%,#33c1ff));
  background: -webkit-linear-gradient(top, #00a2ff 0%,#33c1ff 100%);
  background: -o-linear-gradient(top, #00a2ff 0%,#33c1ff 100%);
  background: -ms-linear-gradient(top, #00a2ff 0%,#33c1ff 100%);
  background: linear-gradient(to bottom, #00a2ff 0%,#33c1ff 100%);
  border-color: #009bfe #026be2 #0422b7;
  box-shadow: 0 0 0 1px #66c7ff inset, 0 2px 2px -1px #7981ac;
  color: #fff;
  text-decoration: none;
  text-shadow: #025ad4 0 1px 0;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
textarea {
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-border-radius: 3px;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-border-radius: 3px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  background-color: #f9f9f9;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  outline: 0;
  outline: thin dotted \9;
}
#search-block-form .form-submit {
  background: url("images/search.png") no-repeat center #eee;
  padding: 4px 11px 3px;
}
#search-block-form .form-submit:hover {
  background-color: #ddd;
  border-color: #9b9b9b;
}
